.pod-audios {
    background: var(--primary);
    padding: 5vh 1.5vw 0 1.5vw;
}

.podcast-categories {
    background: var(--primary);
    padding: 5vh 1.5vw 5vh 1.5vw;
}

.cat-head-txt {
    background: linear-gradient(87deg, #C49B27 21.85%, #F8D368 78.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
    margin: 3rem auto;
}

.pod-cat-wrapper {
    flex-direction: column;
    display: flex;
    gap: 1rem;
}

.pod-video {
    width: 100%;
    height: 22.5rem;
    border-radius: 2.75rem;
    background: linear-gradient(260deg, #F1B749 11.49%, #FFD183 41.14%, #D39529 88.51%);
}

.pod-title-small {
    font-family: okemah light, sans-serif;
    color: var(--text-color);
    font-size: 1.5rem;
    font-style: normal;
    line-height: 120%;
}

.pod-title {
    font-family: okemah medium, sans-serif;
    color: var(--text-color);
    font-size: 2rem;
    font-style: normal;
    line-height: 120%;
}

.voice-slider {
    width: 100%;
    height: 20.4375rem;
    background: var(--primary);
    padding-top: 5rem;
    padding-left: 4rem;
}


.volume-parent {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.image-parent {
    width: 26.375rem;
    height: 15.875rem;
    border-radius: 2.75rem;
    background: linear-gradient(260deg, #F1B749 11.49%, #FFD183 41.14%, #D39529 88.51%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    gap: 1rem;
}

.interview-heading {
    width: 11.875rem;
    color: #f9b341;
    text-align: center;
    font-family: okemah light, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.interview-sec-heading {
    width: 8.4375rem;
    color: #fff;
    text-align: center;
    font-family: okemah light, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.span-text {
    color: var(--primary);
    text-align: center;
    font-family: okemah light, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-pause {
    width: 1.25rem;
    height: 1.25rem;
    background: #221B1D;
    border: none;
    transform: rotate(-90deg);
    flex-shrink: 0;
    color: #F5BE5A;
    text-align: center;
    font-family: okemah blod, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}