.blog-news {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.blog-wrapper {
    margin: 1rem auto;
}

.blog-img-wrapper img {
    width: 100%;
}

.blog-head-txt {
    text-align: center;
    background: var(--txt-three-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-style: normal;
    line-height: 116.5%;
}

.light {
    text-align: center;
    font-family: okemah light, sans-serif;
    background: linear-gradient(268deg, #F8D368 23.3%, #927C3D 76.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-small {
    width: 7.125rem;
    font-size: 1.25rem;
}

.blog-title {
    background: var(--txt-three-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}