.about {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.about-img {
    max-width: 100%;
}

.about-head-txt {
    background: var(--txt-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 3rem;
    font-style: normal;
    line-height: 109.5%;
}

.about-txt {
    color: var(--white);
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
}

.blog-news {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.blog-wrapper {
    margin: 1rem auto;
}

.blog-img-wrapper img {
    width: 100%;
}

.blog-head-txt {
    text-align: center;
    background: var(--txt-three-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-style: normal;
    line-height: 116.5%;
}

.light {
    text-align: center;
    font-family: okemah light, sans-serif;
    background: linear-gradient(268deg, #F8D368 23.3%, #927C3D 76.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-small {
    width: 7.125rem;
    font-size: 1.25rem;
}

.blog-title {
    background: var(--txt-three-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.e-books {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.books-head-txt {
    background: linear-gradient(268deg, #F8D368 23.3%, #927C3D 76.7%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    line-height: 120%;
}

.e-book-wrapper {
    width: 100%;
    height: 22.5rem;
    border-radius: 2.75rem;
    margin: 1rem auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.e-book-wrapper::before {
    content: "";
    border-radius: 2.75rem;
    background: linear-gradient(260deg, #F1B749 11.49%, #FFD183 41.14%, #D39529 88.51%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.e-book-txt {
    color: var(--primary);
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 120%;
    z-index: 1;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-load-more {
    background: transparent;
    border: none;
    background: linear-gradient(89deg, #FAC96D 27.63%, #D39529 72.37%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: okemah regular, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 109.5%;
    margin: 1.5rem 0;
}

.podcast {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.podcast-head-txt {
    background: linear-gradient(87deg, #C49B27 21.85%, #F8D368 78.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
}

.podcast-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-img-wrapper img {
    max-width: 100%;
    border-radius: 2.75rem;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--white);
    width: 1.625rem;
    height: 3.25rem;
}

.store {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.store-wrapper {
    width: 18.0625rem;
    height: 13.4375rem;
    border-radius: 2.1875rem;
    margin: 1rem auto;
    box-shadow: 0px 4px 200px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.store-wrapper::before {
    content: "";
    border-radius: 2.75rem;
    background: linear-gradient(260deg, #F1B749 11.49%, #FFD183 41.14%, #D39529 88.51%);
    width: 100%;
    height: 100%;
    position: absolute;
}

.store-txt {
    color: var(--primary);
    text-align: center;
    font-size: 1.375rem;
    line-height: 120%;
    z-index: 1;
}

.newsletter {
    background: var(--primary);
    padding: 15vh 1.5vw 0 1.5vw;
}

.newsletter-head-txt {
    background: linear-gradient(90deg, #FAC96D 0%, #D39529 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: okemah medium, sans-serif;
    font-size: 3.125rem;
    font-style: normal;
    line-height: normal;
}

.newsletter-txt {
    font-family: okemah light, sans-serif;
    color: var(--white);
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    margin-bottom: 3rem;
}

#newsletter {
    width: 100%;
    height: 3.4375rem;
    border-radius: 2.0625rem;
    background: var(--input-bg-color);
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.25);
    padding: 0 2rem;
    border: none;
}

#newsletter:focus-visible {
    outline: none;
}


#newsletter::placeholder {
    color: var(--primary);
    font-family: okemah light, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
}

.newsletter-input {
    width: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.btn-subscribe {
    position: absolute;
    right: 3rem;
    width: 5.25rem;
    height: 1.5rem;
    border-radius: 3.0625rem;
    border: 0px solid var(--white);
    background: var(--primary);
    color: var(--input-bg-color);
    font-family: okemah light, sans-serif;
    font-size: 0.625rem;
    font-style: normal;
    line-height: normal;
}

.get-in-touch {
    background: var(--primary);
    padding: 15vh 1.5vw 15vh 1.5vw;

}

.contact-head-txt {
    color: var(--input-bg-color);
    font-size: 3.1875rem;
    font-style: normal;
    line-height: normal;
}

.contact-img {
    max-width: 100%;
}

.get-in-touch-input input,
.get-in-touch-input textarea {
    border-radius: 0.75rem;
    width: 100%;
    height: 4.125rem;
    flex-shrink: 0;
    border: none;
    padding: 0 2rem;
}

.get-in-touch-input input::placeholder,
.get-in-touch-input textarea::placeholder {
    color: var(--primary);
    font-family: okeman light, sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

.get-in-touch-input input:focus-visible,
.get-in-touch-input textarea:focus-visible {
    outline: none;
}

input[type="text"] {
    background: #F9C96E;
}

input[type="email"] {
    background: #FBD080;
}

input[type="number"] {
    background: #FBD07F;
}

textarea {
    background: #FCD58D;
    padding-top: 1rem !important;
}

.btn-send {
    width: 12rem;
    height: 3.5rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    background: #FCD58D;
}

@media (max-width: 576px) {
    .newsletter-input {
        width: 22rem;
    }

    .btn-subscribe {
        right: 1rem;
    }
}