
:root {
  --primary: #221B1D;
  --text: #B99C6A;
  --white: #fff;
  --black: #080808;
  --gradient-start:  #D39529;
  --gradient-stop:  #FAC96D;
}

@font-face {
  font-family: okemah regular;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: okemah bold;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: okemah semiBold;
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: okemah light;
  src: url("./fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}